/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 .brand-logo img{
   padding-top: 10px!important;
   padding-left: 10px;
 }
 .btn-logout {
   width: 100%;
   padding-right: 0;
   padding-left: 0;
   text-align: left !important;
   color: rgba(255,255,255,.5);
 }

 .btn-logout:hover {
   color: rgba(255,255,255,.75);
   text-decoration: none;
 }

body {
   padding: 0px !important;
   margin: 0px !important;
   background-color: black;
   overflow-x: hidden;
   padding-left: 300px;
 }

 .no-padding-right {
   padding: 0;
 }

.no-margin-right {
    margin: 0;
}

.container {
  height: 100vh;
  width: 100%;
  padding-left: 230px;
}

@media only screen and (max-width : 992px) {
 body {
    padding-left: 100px;

  }
  .container {
    padding-left: 0px;
  }
}

 .navbar-fixed{
     z-index: 1000;
 }

 a {
   color: #4db6ac;
   text-decoration: none;
 }

   a:hover {
     color: #00cccc;
     text-decoration: none;
   }

 input[type=text], input[type=password], input[type=textarea], textarea {
   color: #465C8B;
 }

 .parallax{
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom:0;
   z-index: 0;
 }

 .parallax img {
   display: inherit !important;
 }
 .parallax-container {
   position: relative;
   overflow: hidden;
   height: 500px;
 }

 /* positioning */
 .block {
   display: block;
 }

 .center {
   margin: 0 auto;
 }

 .inline {
   display: inline;
 }

 .section {
   margin-top: 0px !important;
   margin-bottom: 0px !important;
   margin-left: 0px !important;
   margin-right: 0px !important;
 }

 .row {
     margin-top: 0px !important;
     margin-bottom: 0px !important;
     margin-left: -10px !important;
     margin-right: -10px !important;
     padding-left: 0px !important;
     padding-right: 0px !important;
     /*width: 100% !important;*/
     /*padding-right: 20px !important;*/
 }
.col {
   padding-left: 10px !important;
 }

 .card-panel {
     margin-bottom: 0px !important;
     margin-top: 0px !important;
     width: 100% !important;
     /*padding-left: 10px !important;
     margin-right: 0px !important;*/
     padding-left: 40px;
     /*padding-left: 22em !important;
     min-width: 60em !important;*/
 }

 .parallax-container {
       height: 50em;
       /*position: static;*/
     }
 /*.side-nav {
     transform: translateX(0%) !important;
 }*/

 .left {
   float: left;
 }

 .right {
   float: right;
 }

 .relative {
   position: relative;
 }

 .absolute {
   position: absolute;
 }

 .left-0px {
   left: 0px;
 }

 .right-0px {
   right: 0px;
 }

 .width-50px {
   width: 50px;
 }

 .width-100px {
   width: 100px;
 }

 .width-400px {
   width: 400px;
 }

 .margin-left-50px {
   margin-left: 50px;
 }

 .bottom-20 {
   bottom: 20px;
 }

 .float-r {
   float: right;
 }

 .float-l {
   float: left;
 }

 /* formatting */
 .bg-absolute {
   position: absolute;
   left: 0;
   width: 100%;
   height: 100%;
 }

 .bg-butter {
   background-color: #F2D388
 }

 .bg-dk-green {
   background-color: #05724f;
 }

 .bg-vermillion {
   background-color: #93C178
 }

 .bg-clean {
   /*background-color: #A7D2CB*/
   background: linear-gradient(to right, #A7D2CB, #47ccb6);
 }
 /*.q-comment:hover {
   background: linear-gradient(to right, #47ccb6, #A7D2CB);
 }*/
 /*.a-comment:hover {
   background: linear-gradient(to right, #47ccb6, #A7D2CB);
 }*/

 .bg-white {
   background-color: #F5F5F5;
 }

 .bg-lt-gray {
   background-color: #DFDCE3;
 }

 .bg-slk-gray {
   background-color: #A5A5AF
 }

 .button {
   background: #6ec7a5;
   color: #fefefe;
   padding: 1em;
   text-decoration: none;
 }

 .button:hover {
   color: white;
   text-decoration: none;
   background-color: #A7D2CB;
 }

 .box-shadow {
   box-shadow: 10px 10px 40px -4px rgba(0,0,0,0.66);
 }

 .inset-box-shadow {
   box-shadow: inset 5px 5px 29px -4px rgba(0,0,0,0.75);
 }

 .c-dk-green {
   color: #05724f;
 }

 .c-slk-gray {
   color: #A5A5AF;
 }

 .c-eggplant {
   color: #874C62;
 }

 .c-lt-gray {
   color: #cccccc;
 }

 .c-forest {
   color: #015249;
 }

 .c-marine {
   color: #57BC90;
 }

 .c-white {
   color: #fefefe;
 }

   a.c-white:hover {
     color: #fefefe;
   }

 .clearfix:after {
    content: " "; /* Older browser do not support empty content */
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
 }

 .col-3 {
   width: 33.33%;
 }

 .divider {
   margin-left: -45px;
   margin-right: -25px;
 }

.font-100{
  font-weight: 100;
}
 .font-2 {
   font-size: 2em;
 }

 .font-4 {
   font-size: 4em;
 }

 .font-1{
   font-size: 1em;
 }

 .font-2{
    font-size: 2em;
 }

 .font-3{
     font-size: 3em;
 }

 .font-3-4{
   font-size: .75em;
 }

 .h-min-6 {
   min-height: 6em;
 }

 .h-10 {
   height: 10em;
 }

 .hover-underline:hover {
   text-decoration: underline;
 }

 .top-50 {
   top: 50%;
   transform: translateY(-50%);
 }

 .mar-l-3px {
   margin-left: 3px;
 }

 .mar-r-5px {
   margin-right: 5px;
 }

 .mar-b-1 {
   margin-bottom: 1em;
 }

 .mar-b-2 {
   margin-bottom: 2em;
 }

 .mar-b-3 {
   margin-bottom: 3em;
 }

 .mar-b-8 {
   margin-bottom: 8em;
 }

 .mar-b-16 {
   margin-bottom: 16em;
 }

 .mar-t-8px {
   margin-top: 8px;
 }

 .mar-t-1 {
   margin-top: 1em;
 }

 .mar-t-2 {
   margin-top: 2em;
 }

 .mar-t-3 {
   margin-top: 3em;
 }

 .mar-t-4 {
   margin-top: 4em;
 }

 .mar-t-5 {
   margin-top: 5em;
 }

 .max-w-700 {
   max-width: 700px;
 }

 .no-bg {
   background: none;
 }

 .no-border {
   border: none;
 }

 .no-bullets {
   list-style-type: none;
 }

 ul {
   list-style: none;
   margin-left: 0;
   padding-left: 1em;
   text-indent: -1em;
}

 .no-margin {
   margin: 0;
 }

 .no-outline {
   outline: none;
 }

 .no-padding {
   padding: 0;
 }

 .no-resize {
   resize: none;
 }

 .pad-1 {
   padding: 1em;
 }

 .pad-2 {
   padding: 2em;
 }

 .pad-6 {
   padding: 6em;
 }

 .pad-10 {
   padding: 10em;
 }

 .pad-12 {
   padding: 12em;
 }

 .pad-5px {
   padding: 5px;
 }

 .pad-b-1-4 {
   padding-bottom: .25em;
 }

 .pad-b-1 {
   padding-bottom: 1em;
 }

 .pad-b-2 {
   padding-bottom: 2em;
 }

 .pad-b-3 {
   padding-bottom: 3em;
 }

 .pad-b-4 {
   padding-bottom: 4em;
 }

 .pad-b-6 {
   padding-bottom: 6em;
 }

 .pad-b-8 {
   padding-bottom: 8em;
 }

 .pad-s-1 {
   padding-left: 1em;
   padding-right: 1em;
 }

 .pad-s-2 {
   padding-left: 2em;
   padding-right: 2em;
 }
 .pad-s-3 {
   padding-left: 3em;
   padding-right: 3em;
 }
 .pad-s-5 {
   padding-left: 3em;
   padding-right: 3em;
 }
 .pad-s-7 {
   padding-left: 3em;
   padding-right: 3em;
 }

 .pad-t-1 {
   padding-top: 1em;
 }

 .pad-t-2 {
   padding-top: 2em;
 }

 .pad-t-3 {
   padding-top: 3em;
 }

  .pad-t-30px {
    padding-top: 30px;
  }

  .pad-t-35px {
    padding-top: 35px;
  }

  .pad-t-4 {
    padding-top: 4em;
  }

 .pad-t-6 {
   padding-top: 6em;
 }

 .pad-t-10 {
   padding-top: 10em;
 }


 .pad-l-1 {
   padding-left: 1em;
 }

 .pad-l-2 {
   padding-left: 2em;
 }

 .pad-l-3 {
   padding-left: 3em;
 }

 .pad-l-6 {
   padding-left: 6em;
 }
  .pad-l-25 {
    padding-left: 25em;
  }

 .pad-r-4 {
   padding-right: 4em;
 }


 .pipe-separate {
   padding-left: 1em;
   padding-right: 1em;
   border-right: 1px solid;
 }

   .pipe-separate:first-of-type {
     padding-left: 0;
   }

   .pipe-separate:last-of-type {
     padding-right: 0;
     border-right: none;
   }

 .round-1 {
   border-radius: 1em;
 }

 .t-light-green {
   color: #32bb7d;
 }

 .text-c {
   text-align: center;
 }

 .w-50 {
   width: 50%;
 }

 .w-66 {
   width: 66.66%;
 }

 .w-100 {
   width: 100%;
 }

 .wrap-float {
   overflow: auto;
 }

 .logo-container {
   border: 5px solid #05724f;
   color: #05724f;
   width: 305px;
   height: 305px;
   border-radius: 50%;
   padding: 20px;
   margin: 0 auto;
   text-align: center;
 }

 .logo {
   width:160px;
 }

 .credits {
   color: white;
 }

 .credits:hover {
   color: white;
 }

 .embossed {
   text-shadow: -1px -1px 0px rgba(255,255,255,0.3), 1px 1px 0px rgba(0,0,0,0.8);
   opacity: 0.4;
   font: 700 60px 'Bitter';
   font-size: 3vw;
 }
 .hidden-question {
   display: none;
 }
 .hidden-answer {
   display: none;
 }

 .comment-form {
   display: none;
 }

 .comment-bubble {
   display: block;
   width: 32px;
   height: 32px;
   background-image: url("/sprites.png");
   background-position: 0 0;
   background-repeat: no-repeat;
 }

 .comment-bubble:hover {
   background-position: 0 -33px;
 }

 .tooltip {
 	display:none;
 	position:absolute;
 	border:1px solid #333;
 	background-color:#161616;
 	border-radius:5px;
 	padding:10px;
 	color:#fff;
 	font-size:12px Arial;
 }
